html {
    /*background-image: url('images/cold.png');*/
    /*background-attachment: fixed;*/
    /*background-repeat: no-repeat;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    font-size: 24px;
}

html, body
{
    height: 100%;
}

.loading {
    background: url('images/loader.gif') no-repeat center center;
}